@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular-400.woff2") format("woff2"),
    url("/fonts/Inter-Regular-400.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Medium-500.woff2") format("woff2"),
    url("/fonts/Inter-Medium-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-SemiBold-600.woff2") format("woff2"),
    url("/fonts/Inter-SemiBold-600.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Bold-700.woff2") format("woff2"),
    url("/fonts/Inter-Bold-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

* body {
  font-family: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  :root {
    --color-primary: #ffdb63;
    --color-secondary: #f5f2f2;
    --color-bg-primary: #ffffff;
    --color-text-base: #2c2b2b;
    --color-primary-hover: #fbca29;
    --color-bg-header: #2c2b2b;
    --color-bg-card: #f5f2f2;
    --color-social-icon: #ffe9a1;
  }
}

/* .theme-dark {
  --color-primary: #63b4ff;
  --color-secondary: #2c2b2b;
  --color-bg-primary: #282828;
  --color-text-base: #f5f2f2;
  --color-primary-hover: #0435d6;
  --color-bg-header: #2c2b2b;
  --color-bg-card: #373737;
  --color-social-icon: #A1B7FF.;
} */

.theme-dark {
  --color-primary: #cf8d11;
  --color-secondary: #2c2b2b;
  --color-bg-primary: #282828;
  --color-text-base: #f5f2f2;
  --color-primary-hover: #d38004;
  --color-bg-header: #2c2b2b;
  --color-bg-card: #373737;
  --color-social-icon: #f7b03e;
}
